.team-section{
    .member-card{
        padding: clamp(10px, 0.833vw, 40px);
        background: $lightest-gray;
        border-radius: $br-12;
        .member-image{
            overflow: hidden;
            border-radius: $br-12;
            width: 100%;
            img{
                border-radius: $br-12;
                width: 100%;
                height: 100%;
                -webkit-transition: all 0.35s linear 0s;
                transition: all 0.35s linear 0s;
            }
        }
        .member-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .member-name{
                color: $light-black;
                transition: $transition;
            }
        }
        &:hover{
            .member-image{
                img{
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition: all 0.35s linear 0s;
                    transition: all 0.35s linear 0s;
                }
            }
            .member-info {
                .member-name{
                    color: $accent-2;
                }
            }
        }
    }
}